* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  width: 960px;
  margin: 50px auto;
}

.list-items {
  padding: 20px 0 20px 20px;
}

.list-items:nth-child(odd) {
  background-color: #dcdcdc;
}

.box {
  width: 960px;
  margin: 0 auto auto 50px;
  display: flex;
  flex-wrap: wrap;
}

#box1 {
  background-color: #ff8c00;
}

#box2 {
  background-color: #ff8c00;
}

#box3 {
  background-color: #ff8c00;
}

.color-box {
  width: 30%;
  height: 200px;
  display: inline-block;
  background-color: #ffff00;
}

.color-box:nth-child(2) {
  margin: 0 5% 40px 5%;
}

.color-box:nth-child(5) {
  margin: 0 5% 40px 5%;
}

.color-box:nth-child(8) {
  margin: 0 5% 0 5%;
}
