* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gray;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
  font-size: 25px;
}

main {
  width: 840px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.box {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.box1 {
  border-bottom: 1px solid gray;
  padding-top: 30px;
  padding-bottom: 30px;
}
